{% extends 'account/base_account.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Change Password{% endblock title %}

{% block content %}
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Change Password</h5>                                    
                                </div>
                                <div class=" text-center p-2 mt-4">
                                    <div class="alert alert-success text-center">
                                        Your Password is successfully chnaged.
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
{% endblock %}