{% extends 'account/base_account.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Set Password{% endblock title %}

{% block content %}
                            <div class="card-body p-4"> 
    
                                    <div class="text-center mt-2">
                                        <h5 class="text-primary">Set Password</h5>
                                        <p class="text-muted">Set Password with Minible.</p>
                                    </div>
                                    <div class="p-2 mt-4">
                                        
                                        <form class="password_set" method="POST" action="{% url 'account_set_password' %}" >
                                        {% csrf_token %}
                                        {{ form|crispy }}                               
                                        
                                        <div class="d-grid mt-4">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Set Password</button>
                                        </div>                                            
                                        </form>
                                    </div>
                
                                </div>
                            </div>
{% endblock %}